[data-theme="light"] {
  --font-color: black;
  --background-color: white;
}
[data-theme="dark"] {
  --font-color: white;
  --background-color: #0d0d0d;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--background-color);
  color: var(--font-color);
}

input,
textarea {
  padding: 12px;
  margin: 12px 0;
  font-family: "Inter", sans-serif;
  background-color: transparent;
  color: #afafaf;
  border: 1px solid #aaa;
  border-radius: 4px;
}

input::placeholder,
textarea::placeholder {
  color: #afafaf;
  font-weight: 100;
}
.note-app {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px;
}

.note-app__header {
  display: flex;
  align-items: center;
  padding: 32px 0;
}

.note-app__header h1 {
  font-weight: normal;
  font-size: 32px;
  flex: 1;
}

.note-app__header input.note-search {
  border-bottom: 1px solid #aaa;
  width: 100%;
}

.notes-app__loading {
  width: 100%;
  text-align: center;
  font-size: 24px;
}

.navigation ul {
  display: flex;
  align-items: center;
}

.navigation ul li {
  display: inline-block;
  padding: 16px;
}

.navigation ul li a {
  font-size: 28px;
  color: var(--font-color);
}

.navigation ul li button {
  background-color: transparent;
  font-family: "Inter", sans-serif;
  border: 0;
  font-size: 24px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.navigation ul li button {
  color: var(--font-color);
}

.note-app__body {
  max-width: 1000px;
  margin: 16px auto;
  padding: 12px;
}

.not-found {
  max-width: 1000px;
  height: 50vh;
  margin: 16px auto;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.not-found__message {
  font-size: 40px;
}

.note-app__body h2 {
  /* font-weight: normal; */
  margin: 16px 0;
  color: var(--font-color);
}

.note-input {
  margin: 0 auto;
  max-width: 900px;
  margin-bottom: 48px;
}

.note-input input,
.note-input textarea {
  display: block;
  width: 100%;
}

.note-input__title {
  font-weight: bold;
  margin-top: 20px;
}

.note-input__title__char-limit {
  font-size: 14px;
  text-align: right;
  color: #afafaf;
}

.note-input__body {
  min-height: 175px;
  padding: 5px;
  border: 1px solid #afafaf;
  border-radius: 5px;
}

.note-input button {
  display: block;
  width: 100%;
  padding: 8px;
  background-color: #1f509a;
  font-family: "Inter", sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
}

.notes-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(min-content, max-content);
  gap: 16px;
  margin-bottom: 48px;
}

.notes-list__empty-message {
  text-align: center;
  color: #aaa;
}

.note-item {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #aaa;
}

.note-item__content {
  padding: 15px;
  width: 250;
  flex: 1;
}

.note-detail__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;
  color: var(--font-color);
  font-weight: bold;
  font-size: 25px;
}

.note-item__title {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-bottom: 4px;

  color: var(--font-color);
}

.note-detail__date {
  font-size: 14px;
  margin-bottom: 8px;
  color: rgb(165, 161, 161);
}

.note-item__date {
  font-size: 12px;
  margin-bottom: 8px;
  color: #afafaf;
}

.note-detail__body {
  font-size: 15px;
  color: var(--font-color);
}

.note-item__body {
  font-size: 14px;
}

.note-item__action {
  display: flex;
}

.note-item__delete-button,
.note-item__detail-link,
.note-item__archive-button {
  display: block;
  width: 100%;
  color: white;
  border: 0;
  border-top: 1px solid #aaa;
  padding: 8px 0;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.note-item__delete-button {
  border-right: 1px solid #aaa;
  background-color: #ff4b4b;
}
.note-item__delete-button:hover {
  background-color: #ea2b2b;
}
.note-item__archive-button {
  background-color: #ffc800;
}

.note-item__archive-button:hover {
  background-color: #e7a601;
}

.note-item__detail-link {
  display: flex;
  justify-content: center;
  background-color: #1f509a;
}

.note-item__detail-link:hover {
  background-color: #1f509a;
}

.login-page h2,
.register-page h2 {
  font-weight: normal;
}

.login-input,
.register-input,
.contact-input {
  margin-top: 16px;
}

.login-input input,
.register-input input,
.contact-input input {
  display: block;
  padding: 16px;
  width: 100%;
  margin: 8px 0;
  font-size: 20px;
  background-color: transparent;
  border: 2px dashed black;
  border-radius: 8px;
}

.login-input button,
.register-input button,
.contact-input button {
  display: block;
  width: 100%;
  padding: 16px;
  font-size: 24px;
  background-color: #1f509a;
  color: white;
  border-radius: 8px;
  margin: 16px 0;
}

@media only screen and (min-width: 500px) {
  .notes-list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .note-search input {
    min-width: 400px;
  }
}

@media only screen and (min-width: 800px) {
  .notes-list {
    grid-template-columns: repeat(4, 1fr);
  }
}
